html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.hidden {
    visibility: hidden;
}

.column-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-items: stretch;
}

.left-column, .right-column{
    background-color: aqua;
    height: 100vh;
    padding-right: 150px;
    padding-left: 150px;
}

.left-column {
    border-color: aliceblue;
    /* background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.earth.com%2Fnews%2Fmoon-dust-toxic-health%2F&psig=AOvVaw3DYEGZrMdFKd0yBRX2f6BY&ust=1650674455355000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCKidvti3pvcCFQAAAAAdAAAAABAD"); */
}

.left-wrapper, .right-wrapper{
    display: flex;
    flex-direction: column;
}

.astronaut, .alien {
    font-size: 45px;
    margin-bottom: 0;
}

.left-counter, .right-counter {
    font-weight: 900;
}



.middle-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.turn-display {
    display: flex;
    justify-content: center;
    font-weight: 900;
    margin-bottom: 50px;
}

.game {
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
    height: 500px;   
}

.game-cell {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 60px;
    border: 10px solid rgb(11, 162, 124);  
}

.game-cell:nth-child(1),.game-cell:nth-child(2),.game-cell:nth-child(3){
    border-top: none;
}

.game-cell:nth-child(1),.game-cell:nth-child(4),.game-cell:nth-child(7){
    border-left: none;
}

.game-cell:nth-child(3),.game-cell:nth-child(6),.game-cell:nth-child(9){
    border-right: none;
}

.game-cell:nth-child(7),.game-cell:nth-child(8),.game-cell:nth-child(9){
    border-bottom: none;
} 

.game-piece {
    border: 10px solid chartreuse;
}


